[Unit]
Description=uMTP-Responder daemon
After=network.target
ConditionPathExists=/etc/umtprd/umtprd.conf

[Service]
Type=simple
ExecStartPre=/usr/bin/umtprd-gfs
ExecStart=/usr/bin/umtprd
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
